[Unit]
Description=E621 Telegram inline bot
After=network.target

[Service]
User=http
Group=http
WorkingDirectory=/srv/e621_inline_bot
ExecStart=/srv/e621_inline_bot/venv/bin/python /srv/e621_inline_bot/index.py %i
RemainAfterExit=no
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
